<br>
<div>
    <h1>Músicas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Artista</th>
                <th>Gênero</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of musics; index as i">
                <td>{{i+1}}</td>
                <td>{{m.nm_musica}}</td>
                <td>{{m.nm_autor}}</td>
                <td>{{m.nm_genero}}</td>
                <td><button class="btn btn-light" (click)="editar(i)">Selecionar</button></td>
            </tr>
        </tbody>
    </table>  
</div>
