Ambiente DEV - Sat May 13 14:21:32 2023
<h1>GMusic</h1>
<br>
<label>Avatar:</label>
<div>
    <button class="btft" #bt1 (click)="selFoto(1, bt1); onKey($event, name.value)"><img src="assets/ic1.png"></button>
    <button class="btft" #bt2 (click)="selFoto(2, bt2); onKey($event, name.value)"><img src="assets/ic2.png"></button>
    <button class="btft" #bt3 (click)="selFoto(3, bt3); onKey($event, name.value)"><img src="assets/ic3.png"></button>
    <button class="btft" #bt4 (click)="selFoto(4, bt4); onKey($event, name.value)"><img src="assets/ic4.jpg"></button>
</div>
<br>
<form>
    <div class="form-group">
        <label>Nome:</label>
        <input (keyup)="onKey($event, name.value)" id="entr" #name type="text" class="form-control" ngModel maxlength="16">
        <br>
    </div>
    <button [disabled]="desabilita" type="submit" class="btn btn-light" (click)="login(name.value)">Entrar</button>
</form>
